cycler
fonttools
kiwisolver
matplotlib
numpy
packaging
pandas
Pillow
prettyprint
pyparsing
python-dateutil
pytz
scipy
seaborn
six
typing_extensions
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem